[Unit]
Description=bitwarden
Requires=user@1001.service
[Service]
KillMode=none
MemoryMax=200M
ExecStartPre=-/usr/bin/podman rm -f bw
ExecStartPre=/usr/bin/podman pull bitwardenrs/server:1.13.1-alpine
ExecStart=/usr/bin/podman run -d --name bw --env-file /var/local/{{ podman_user }}/bw_container.env --log-driver=journald -p 6666:80 -p 3012:3012 -v /var/local/{{ podman_user }}/data:/data:Z docker.io/bitwardenrs/server:{{ bitwarden_version_tag }}
ExecStop=/usr/bin/podman stop bw
Restart=always
User={{ podman_user }}
Group={{ podman_user }}
Type=forking
[Install]
WantedBy=multi-user.target

# --cgroupns=private (Possible option)